<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
<link rel="me" href="https://social.tchncs.de/@konstantinthumm">
{%- comment -%} Favicons & PWA {%- endcomment -%}
<link rel="apple-touch-icon" sizes="180x180" href="/assets/favicons/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/assets/favicons/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/assets/favicons/favicon-16x16.png">
<link rel="icon" type="image/png" sizes="192x192" href="/assets/favicons/android-chrome-192x192.png">
<link rel="icon" type="image/png" sizes="512x512" href="/assets/favicons/android-chrome-512x512.png">
<link rel="manifest" href="/assets/favicons/site.webmanifest">
<link rel="mask-icon" href="/assets/favicons/safari-pinned-tab.svg" color="4e91a5">
<link rel="shortcut icon" href="/favicon.ico">
<link rel="stylesheet" href="{{ '/assets/css/main.css' | relative_url }}?v={{ site.time | date: '%Y%m%d%H%M' }}">
<meta name="msapplication-TileColor" content="#4e91a5">
<meta name="msapplication-config" content="/assets/favicons/browserconfig.xml">
<meta name="theme-color" content="4e91a5">
<!-- _includes/head/custom.html -->
{% assign fediverse_handle = page.fediverse_creator | default: site.author.mastodon %}
{% if fediverse_handle %}
<meta name="fediverse:creator" content="{{ fediverse_handle }}">
{% endif %}


