{% assign share_url   = page.url | absolute_url | uri_escape %}
{% assign share_title = page.title | strip_html  | uri_escape %}
{% assign share_text  = share_title | append: '%20' | append: share_url %}

<div class="page__share">
  <h4 class="page__share-title">{{ site.data.ui-text[site.locale].share_on_label | default: "Share on" }}</h4>
  <a class="btn btn--facebook"
     href="https://www.facebook.com/sharer/sharer.php?u={{ share_url }}"
     rel="noopener nofollow" target="_blank">
    <i class="fab fa-facebook"></i><span> Facebook</span>
  </a>

  <a class="btn btn--linkedin"
     href="https://www.linkedin.com/shareArticle?mini=true&url={{ share_url }}&title={{ share_title }}"
     rel="noopener nofollow" target="_blank">
    <i class="fab fa-linkedin"></i><span> LinkedIn</span>
  </a>

  <!-- Mastodon: nutzt deine Instanz -->
  <a class="btn btn--mastodon"
     href="{{ site.mastodon_instance | append: '/share?text=' | append: share_text }}"
     rel="noopener nofollow" target="_blank">
    <i class="fa-brands fa-mastodon"></i><span> Mastodon</span>
  </a>

  <!-- Bluesky -->
  <a class="btn btn--bluesky"
     href="https://bsky.app/intent/compose?text={{ share_text }}"
     rel="noopener nofollow" target="_blank">
    <i class="fa-brands fa-bluesky"></i><span> Bluesky</span>
  </a>
</div>
{%- assign share_url    = page.url | absolute_url | uri_escape -%}
{%- assign share_title  = page.title | strip_html | uri_escape -%}
{%- assign share_excerpt= page.excerpt | default: site.description | strip_html | truncate: 160 | uri_escape -%}

/* E-Mail: Betreff = Titel; Body = Titel + Link + kurzer Teaser */
{%- assign email_subject = share_title -%}
{%- assign email_body = share_title | append: '%0A%0A' | append: share_url | append: '%0A%0A' | append: share_excerpt -%}

<a class="btn btn--email"
   href="mailto:?subject={{ email_subject }}&body={{ email_body }}"
   rel="nofollow">
  <i class="fa-solid fa-envelope"></i><span> E-Mail</span>
</a>
